@font-face{
    font-family:Iran;
    src: url(../Font/Sans.ttf);
    
  
    
}
@font-face{
    font-family: iranR;
    src:url(../Font/menu/IRANSansR.ttf); 
}
@font-face{
    font-family: iranB;
    src: url(../Font/menu/IRANSansBold.ttf);
}