// ----Color------
$menu-color:#06df6f;
$menu-font-color:#000;
$menu-btn-hover:#008d4b;
//----------
//--Flex--Position
@mixin FlexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin Flexaround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#Menu{
    width: 100%;
    height: 80px;
    border-top: 2px solid $menu-color;
    font-family: iranR;
    font-weight: bolder;
    background-color: #fff;
    

    .container{
        margin: 0 auto;
        width: 95%;
        height: 100%;
        // border: 1px solid green;

        .row{
            width: 100%;
            height: 100%;
            display: flex;

            #Logo{
                // border: 1px solid orange;
                margin-right: 10px;
                width: 8%;
                height: 100%;
                @include FlexCenter();

                &>img{
                    width: 90%;
                }
            }
            #main-menu{
                width:70%;
                height:100%;
                 display: flex;
                // border: 1px solid yellow;
                overflow: hidden;
                margin-right: 15px;
                

                &>li{
                    @include FlexCenter();
                    // border: 1px solid blue;
                    padding: 0px 7px;
                    margin: 0 2px;

                    &>a{
                        color: $menu-font-color;
                        font-size: 1rem;
                        font-weight: 900;
                        // border: 1px solid black;
                        // padding: 20px;

                        &:hover{
                            color: $menu-color;
                        }
                    }
                }
            }
            #btn{
                width:20%;
                height: 100%;
                // border: 1px solid red;
                direction: ltr;
                @include FlexCenter();
              //  margin-right: 20%;

                a{
                    display:inline-block;
                   padding: 10px 20px;
                   border-radius: 50px;
                    background-color: $menu-color;
                    font-size: 1.2rem;
                    font-weight: bolder;
                    color: #fff;
                    transition: 1s;

                    &:hover{
                        background-color: $menu-btn-hover;
                    }
                }
            }
        }
    }
    
}