// ----Color------
$Taxi-color:#2e2e2e;
$Taxi-font-color:#00ef74;
$Taxi-btn-hover:#008d4b;
$Taxi-mtn:#fff;
$Taxi-Line:#b9b9b9;
$Taxi-dec:#474747;
$Taxi-border:#e6e6e6;
$Taxi-Bg-color:#151f33;
//----------
//--Flex--Position
@mixin FlexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin Flexaround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@mixin FlexCol {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
#Praperty{
    width: 100%;
    height:500px;
    border: 1px solid black;
}